Input: PGM model output--> road volume inference, road profile data
Output: infered road profile volume to (7)

In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import scipy as sp
import pickle

In [2]:
file_path = "D:/Thesis/files_output_dir/output_files/"

In [10]:
output_dir = 'D:/Thesis/files_output_dir/output_preprocessing/'

level1_road_history_workday = pd.read_csv(output_dir + 'level1_road_history_workday.csv') 
level2_road_history_workday = pd.read_csv(output_dir + 'level2_road_history_workday.csv')
level3_road_history_workday = pd.read_csv(output_dir + 'level3_road_history_workday.csv')

# Load the history holiday files into DataFrames
level1_road_history_holiday = pd.read_csv(output_dir + 'level1_road_history_holiday.csv') 
level2_road_history_holiday = pd.read_csv(output_dir + 'level2_road_history_holiday.csv')
level3_road_history_holiday = pd.read_csv(output_dir + 'level3_road_history_holiday.csv')

In [12]:
level1_road_history_workday_inference = pd.read_csv(file_path + 'level1_road_history_workday_inference.csv')
print(level1_road_history_workday_inference['Volume'].value_counts(dropna=False))

In [34]:
level1_road_history_holiday_inference = pd.read_csv(file_path + 'level1_road_history_holiday_inference.csv')
print(level1_road_history_holiday_inference['Volume'].value_counts(dropna=False))

Volume
0.0    216621
2.0    136818
4.0    118897
3.0    104303
1.0     18351
Name: count, dtype: int64
Volume
3.0    159532
2.0    151387
4.0    114547
0.0     76117
1.0     73036
Name: count, dtype: int64

In [35]:
level2_road_history_workday_inference = pd.read_csv(file_path + 'level2_road_history_workday_inference.csv')
print(level2_road_history_workday_inference['Volume'].value_counts(dropna=False))

In [50]:
level2_road_history_holiday_inference = pd.read_csv(file_path + 'level2_road_history_holiday_inference.csv')
print(level2_road_history_holiday_inference['Volume'].value_counts(dropna=False))

Volume
1.0    750192
2.0    679388
4.0    591035
0.0    406204
3.0    399765
Name: count, dtype: int64

In [32]:
level3_road_history_workday_inference = pd.read_csv(file_path + 'level3_road_history_workday_inference.csv')
print(level3_road_history_workday_inference['Volume'].value_counts(dropna=False))

In [51]:
level3_road_history_holiday_inference = pd.read_csv(file_path + 'level3_road_history_holiday_inference.csv')
print(level3_road_history_holiday_inference['Volume'].value_counts(dropna=False))

Volume
1.0    1426064
4.0     768306
2.0     761552
3.0     614861
0.0     218382
Name: count, dtype: int64

In [52]:
print(level2_road_history_holiday_inference.shape)
print(level2_road_history_holiday.shape)

(2826584, 13)
(2826584, 24)

In [38]:
level1_road_history_holiday_inference.head()
level1_road_history_holiday.head()

(3109079, 24)

,road_id,length,lanes,max_speed,dir,level,tor,n_connnections,school,ofc,...,living_ser,sum_poi,weighted_POI,time,avg_speed,avg_speed std,no_taxi_car,volume,theta,volume_claas
0,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,16,9.313440,1.401034,3,19.575,2.0,1.0
1,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,51,1.015883,0.109325,3,33.500,2.0,4.0
2,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,57,1.354263,2.590976,5,33.500,2.0,4.0
3,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,58,1.933138,3.207063,4,33.500,2.0,4.0
4,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,97,4.690923,2.007195,3,13.600,2.0,0.0

In [21]:
level1_road_history_workday['volume_claas'] = level1_road_history_workday_inference['Volume']
level1_road_history_workday['theta'] = level1_road_history_workday_inference['theta']

In [19]:
level1_road_history_holiday['volume_claas'] = level1_road_history_holiday_inference['Volume']
level1_road_history_holiday['theta'] = level1_road_history_holiday_inference['theta']

In [20]:
level1_road_history_holiday.head()

,road_id,length,lanes,max_speed,dir,level,tor,n_connnections,school,ofc,...,living_ser,sum_poi,weighted_POI,time,avg_speed,avg_speed std,no_taxi_car,volume,theta,volume_claas
0,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,16,9.313440,1.401034,3,1.0,2.0,1.0
1,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,51,1.015883,0.109325,3,4.0,2.0,4.0
2,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,57,1.354263,2.590976,5,4.0,2.0,4.0
3,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,58,1.933138,3.207063,4,4.0,2.0,4.0
4,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,97,4.690923,2.007195,3,0.0,2.0,0.0

In [39]:
level2_road_history_workday['volume_claas'] = level2_road_history_workday_inference['Volume']
level2_road_history_workday['theta'] = level2_road_history_workday_inference['theta']

In [53]:
level2_road_history_holiday['volume_claas'] = level2_road_history_holiday_inference['Volume']
level2_road_history_holiday['theta'] = level2_road_history_holiday_inference['theta']

In [40]:
level3_road_history_workday['volume_claas'] = level3_road_history_workday_inference['Volume']
level3_road_history_workday['theta'] = level3_road_history_workday_inference['theta']

In [54]:
level3_road_history_holiday['volume_claas'] = level3_road_history_holiday_inference['Volume']
level3_road_history_holiday['theta'] = level3_road_history_holiday_inference['theta']

In [55]:
output_dir = 'D:/Thesis/files_output_dir/output_preprocessing/'
# Load from a file
with open(output_dir+ 'vol_distribution_data.pkl', 'rb') as file:
    data = pickle.load(file)

vol_dict_level1 = data['vol_dict1']
vol_dict_level2 = data['vol_dict2']
vol_dict_level3 = data['vol_dict3']
mean_level1 = data['mean1']
mean_level2 = data['mean2']
mean_level3 = data['mean3']


# Define the function with vol_dict as an additional parameter
def map_class_to_volume(cls, vol_dict):
    low, high = vol_dict[cls+1]
    return (low + high) / 2  # Use the midpoint of the range as the most probable value

In [30]:
# Apply the function using .map() and a lambda to pass vol_dict
level1_road_history_workday['volume'] = level1_road_history_workday['volume_claas'].map(lambda cls: map_class_to_volume(cls, vol_dict_level1))
level1_road_history_holiday['volume'] = level1_road_history_holiday['volume_claas'].map(lambda cls: map_class_to_volume(cls, vol_dict_level1))

level1_road_history_workday['volume'] = level1_road_history_workday['volume'] * level1_road_history_workday['lanes']
level1_road_history_holiday['volume'] = level1_road_history_holiday['volume'] * level1_road_history_holiday['lanes']

In [45]:
print(vol_dict_level1)
level1_road_history_workday.head()

{1: [11.2, 16.0], 2: [16.0, 23.15], 3: [23.15, 27.4], 4: [27.4, 30.25], 5: [30.25, 36.75]}

,road_id,length,lanes,max_speed,dir,level,tor,n_connnections,school,ofc,...,living_ser,sum_poi,weighted_POI,time,avg_speed,avg_speed std,no_taxi_car,volume_claas,theta,volume
0,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,55,9.392215,2.095352,4,4.0,1.0,33.5
1,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,61,7.426522,3.154074,5,0.0,1.0,13.6
2,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,63,7.714734,3.147514,6,4.0,1.0,33.5
3,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,79,6.754791,3.417767,3,0.0,1.0,13.6
4,129,460.532158,1,8.333333,0,1,1.00537,4,0,0,...,0,0,0.0,91,5.377924,3.547564,5,0.0,1.0,13.6

In [41]:
# Apply the function using .map() and a lambda to pass vol_dict
level2_road_history_workday['volume'] = level2_road_history_workday['volume_claas'].map(lambda cls: map_class_to_volume(cls, vol_dict_level2))
# road volume calculation 
level2_road_history_workday['volume'] = level2_road_history_workday['volume'] * level2_road_history_workday['lanes']

In [56]:
# Apply the function using .map() and a lambda to pass vol_dict
level2_road_history_holiday['volume'] = level2_road_history_holiday['volume_claas'].map(lambda cls: map_class_to_volume(cls, vol_dict_level2))
# road volume calculation 
level2_road_history_holiday['volume'] = level2_road_history_holiday['volume'] * level2_road_history_holiday['lanes']

In [57]:
print(vol_dict_level2)
level2_road_history_holiday.head()

{1: [0.0, 1.2], 2: [1.2, 3.7], 3: [3.7, 6.15], 4: [6.15, 7.8], 5: [7.8, 12.3]}

,road_id,length,lanes,max_speed,dir,level,tor,n_connnections,school,ofc,...,living_ser,sum_poi,weighted_POI,time,avg_speed,avg_speed std,no_taxi_car,volume_claas,theta,volume
0,2,6.053683,3,19.444444,0,2,1.0,4,0,0,...,2,2,1.8,42,13.237089,7.343438,4,3.0,1.0,20.925
1,2,6.053683,3,19.444444,0,2,1.0,4,0,0,...,2,2,1.8,45,14.128898,6.087250,3,3.0,1.0,20.925
2,2,6.053683,3,19.444444,0,2,1.0,4,0,0,...,2,2,1.8,50,4.762476,3.752138,4,2.0,0.0,14.775
3,2,6.053683,3,19.444444,0,2,1.0,4,0,0,...,2,2,1.8,54,7.412116,4.760667,10,1.0,0.0,7.350
4,2,6.053683,3,19.444444,0,2,1.0,4,0,0,...,2,2,1.8,55,6.591037,9.406231,4,2.0,0.0,14.775

In [43]:
# Apply the function using .map() and a lambda to pass vol_dict
level3_road_history_workday['volume'] = level3_road_history_workday['volume_claas'].map(lambda cls: map_class_to_volume(cls, vol_dict_level3))
# road volume calculation 
level3_road_history_workday['volume'] = level3_road_history_workday['volume'] * level3_road_history_workday['lanes']

In [60]:
# Apply the function using .map() and a lambda to pass vol_dict
level3_road_history_holiday['volume'] = level3_road_history_holiday['volume_claas'].map(lambda cls: map_class_to_volume(cls, vol_dict_level3))
# road volume calculation 
level3_road_history_holiday['volume'] = level3_road_history_holiday['volume'] * level3_road_history_holiday['lanes']

In [61]:
print(vol_dict_level3)
level3_road_history_holiday.head()

{1: [0.1, 0.87], 2: [0.87, 1.4], 3: [1.4, 3.2], 4: [3.2, 6.5], 5: [6.5, 8.6]}

,road_id,length,lanes,max_speed,dir,level,tor,n_connnections,school,ofc,...,living_ser,sum_poi,weighted_POI,time,avg_speed,avg_speed std,no_taxi_car,volume_claas,theta,volume
0,0,261.877396,2,5.555556,1,3,1.002687,4,0,0,...,2,8,10.0,24,3.955250,2.979449,3,2.0,1.0,4.60
1,0,261.877396,2,5.555556,1,3,1.002687,4,0,0,...,2,8,10.0,38,2.648761,2.356158,7,3.0,1.0,9.70
2,0,261.877396,2,5.555556,1,3,1.002687,4,0,0,...,2,8,10.0,40,5.228657,0.870617,3,2.0,1.0,4.60
3,0,261.877396,2,5.555556,1,3,1.002687,4,0,0,...,2,8,10.0,43,3.655550,0.412878,3,1.0,1.0,2.27
4,0,261.877396,2,5.555556,1,3,1.002687,4,0,0,...,2,8,10.0,44,2.560715,2.040772,6,1.0,1.0,2.27

In [ ]:
# def get_volume_high(c):
#     vol = [18.7, 23.4, 25.75, 26.87, 29.7]
#     return vol[c-1];

In [ ]:
# def get_volume_major(c):
#     vol = [2.2, 3.9, 5.95, 6.47, 7.2]
#     return vol[c-1];

In [ ]:
# def get_volume_small(c):
#     vol = [0.77, 1.6, 3.1, 4.65, 5.7]
#     return vol[c-1];

In [48]:
level1_road_history_workday.to_csv(file_path + 'level1_road_history_workday_profile.csv', index=False)
level2_road_history_workday.to_csv(file_path + 'level2_road_history_workday_profile.csv', index=False)
level3_road_history_workday.to_csv(file_path + 'level3_road_history_workday_profile.csv', index=False)

In [62]:
level1_road_history_holiday.to_csv(file_path + 'level1_road_history_holiday_profile.csv', index=False)
level2_road_history_holiday.to_csv(file_path + 'level2_road_history_holiday_profile.csv', index=False)
level3_road_history_holiday.to_csv(file_path + 'level3_road_history_holiday_profile.csv', index=False)