In [14]:
import pandas as pd

In [15]:
output_dir = 'D:/Thesis/files_output_dir/output_utilization/'

In [16]:
level1_road_history_workday_utility = pd.read_csv(output_dir + 'level1_road_history_workday_utilization_tune_AHP.csv')
level2_road_history_workday_utility = pd.read_csv(output_dir + 'level2_road_history_workday_utilization_tune_AHP.csv')
level3_road_history_workday_utility = pd.read_csv(output_dir + 'level3_road_history_workday_utilization_tune_AHP.csv')

In [5]:
level1_road_history_holiday_utility = pd.read_csv(output_dir + 'level1_road_history_holiday_utilization_tune_AHP.csv')
level2_road_history_holiday_utility = pd.read_csv(output_dir + 'level2_road_history_holiday_utilization_tune_AHP.csv')
level3_road_history_holiday_utility = pd.read_csv(output_dir + 'level3_road_history_holiday_utilization_tune_AHP.csv')

In [6]:
utility = level1_road_history_workday_utility[['road_id','time','avg_speed','volume','theta','vc', 'qc', 'Uq', 'Uv', 'Uq_norm', 'Uv_norm', 'theta_norm',
       'utilization' ]]
utility[(utility['utilization'] > 0.7)].head(10)

,road_id,time,avg_speed,volume,theta,vc,qc,Uq,Uv,Uq_norm,Uv_norm,theta_norm,utilization
19443,4081,42,10.318195,100.5,2.0,12.186243,40.8,2.463235,0.846708,2.463235,0.846708,2.0,0.850026
19444,4081,43,7.486058,100.5,2.0,12.186243,40.8,2.463235,0.614304,2.463235,0.614304,2.0,0.820004
19445,4081,44,5.385758,100.5,2.0,12.186243,40.8,2.463235,0.441954,2.463235,0.441954,2.0,0.797741
19446,4081,45,4.656354,100.5,2.0,12.186243,40.8,2.463235,0.382099,2.463235,0.382099,2.0,0.790009
19447,4081,46,4.084639,100.5,2.0,12.186243,40.8,2.463235,0.335184,2.463235,0.335184,2.0,0.783948
19448,4081,47,3.955736,100.5,2.0,12.186243,40.8,2.463235,0.324607,2.463235,0.324607,2.0,0.782582
19449,4081,48,3.986831,100.5,2.0,12.186243,40.8,2.463235,0.327158,2.463235,0.327158,2.0,0.782911
19450,4081,49,4.035281,100.5,2.0,12.186243,40.8,2.463235,0.331134,2.463235,0.331134,2.0,0.783425
19451,4081,50,4.261284,100.5,2.0,12.186243,40.8,2.463235,0.349680,2.463235,0.349680,2.0,0.785821
19452,4081,51,4.456765,100.5,2.0,12.186243,40.8,2.463235,0.365721,2.463235,0.365721,2.0,0.787893

In [7]:
utility = level1_road_history_workday_utility[['road_id','time','avg_speed','volume','theta','vc', 'qc', 'Uq', 'Uv', 'Uq_norm', 'Uv_norm', 'theta_norm',
       'utilization' ]]
utility[(utility['time'] == 48) & (utility['utilization'] > 0.1) & (utility['road_id']== 2471)].head()

,road_id,time,avg_speed,volume,theta,vc,qc,Uq,Uv,Uq_norm,Uv_norm,theta_norm,utilization
12620,2471,48,14.039541,100.5,2.0,12.46895,75.825,1.32542,1.12596,1.32542,1.12596,2.0,0.528775

In [8]:
utility = level1_road_history_holiday_utility[['road_id','time','avg_speed','volume','theta','vc', 'qc', 'Uq', 'Uv', 'Uq_norm', 'Uv_norm', 'theta_norm',
       'utilization' ]]
utility[(utility['time'] == 48) & (utility['utilization'] > 0.1) & (utility['road_id']== 2471)].head()

,road_id,time,avg_speed,volume,theta,vc,qc,Uq,Uv,Uq_norm,Uv_norm,theta_norm,utilization
11570,2471,48,15.833725,86.475,0.0,15.910411,100.5,0.860448,0.99518,0.860448,0.99518,0.0,0.264314

In [9]:
utility = level2_road_history_workday_utility[['road_id','time','avg_speed','volume','theta','vc', 'qc', 'Uq', 'Uv', 'Uq_norm', 'Uv_norm', 'theta_norm',
       'utilization' ]]
utility[(utility['utilization'] > 0.6) & (utility['time'] == 48)][0:10]

,road_id,time,avg_speed,volume,theta,vc,qc,Uq,Uv,Uq_norm,Uv_norm,theta_norm,utilization
12574,283,48,8.729779,20.925,2.0,7.176015,1.8,11.625,1.216522,11.625,1.216522,2.0,0.699549
2358144,61833,48,8.783275,20.100,2.0,7.780799,1.2,16.750,1.128840,16.750,1.128840,2.0,0.987457
2659644,69447,48,10.097469,20.100,2.0,9.459752,1.2,16.750,1.067414,16.750,1.067414,2.0,0.986027

In [10]:
utility = level2_road_history_workday_utility[['road_id','time','avg_speed','volume','theta','vc', 'qc', 'Uq', 'Uv', 'Uq_norm', 'Uv_norm', 'theta_norm',
       'utilization' ]]
utility[(utility['time'] == 48) & (utility['utilization'] > 0.1) & (utility['road_id']== 6502)].head()

,road_id,time,avg_speed,volume,theta,vc,qc,Uq,Uv,Uq_norm,Uv_norm,theta_norm,utilization
273847,6502,48,9.101695,20.1,2.0,5.10556,20.1,1.0,1.782702,1.0,1.782702,2.0,0.111612

In [12]:
utility = level2_road_history_holiday_utility[['road_id','time','avg_speed','volume','theta','vc', 'qc', 'Uq', 'Uv', 'Uq_norm', 'Uv_norm', 'theta_norm',
       'utilization' ]]
utility[(utility['time'] == 48) & (utility['utilization'] > 0.1) & (utility['road_id']== 6502)].head()

Empty DataFrame
Columns: [road_id, time, avg_speed, volume, theta, vc, qc, Uq, Uv, Uq_norm, Uv_norm, theta_norm, utilization]
Index: []

In [13]:
utility = level3_road_history_workday_utility[['road_id','time','avg_speed','volume','theta','vc', 'qc', 'Uq', 'Uv', 'Uq_norm', 'Uv_norm', 'theta_norm',
       'utilization' ]]
utility[utility['utilization']>.7].head(10)

,road_id,time,avg_speed,volume,theta,vc,qc,Uq,Uv,Uq_norm,Uv_norm,theta_norm,utilization
1626073,26476,19,0.648742,7.55,1.0,4.364954,0.485,15.56701,0.148625,15.56701,0.148625,1.0,0.947044
1626085,26476,109,6.267806,7.55,0.0,4.364954,0.485,15.56701,1.435939,15.56701,1.435939,0.0,0.968852
1626088,26476,116,2.259982,7.55,1.0,4.364954,0.485,15.56701,0.517756,15.56701,0.517756,1.0,0.956195
1626092,26476,120,2.893229,7.55,1.0,4.364954,0.485,15.56701,0.662831,15.56701,0.662831,1.0,0.959792
1626093,26476,122,5.233912,7.55,0.0,4.364954,0.485,15.56701,1.199076,15.56701,1.199076,0.0,0.962980
1626102,26476,140,7.397747,7.55,0.0,4.364954,0.485,15.56701,1.694805,15.56701,1.694805,0.0,0.975270
1626103,26476,141,5.882659,7.55,0.0,4.364954,0.485,15.56701,1.347702,15.56701,1.347702,0.0,0.966664
1626104,26476,143,6.973899,7.55,0.0,4.364954,0.485,15.56701,1.597703,15.56701,1.597703,0.0,0.972862
1703983,27653,38,0.195341,15.10,1.0,3.036157,0.970,15.56701,0.064338,15.56701,0.064338,1.0,0.944954
1703992,27653,117,4.932527,15.10,0.0,3.036157,0.970,15.56701,1.624596,15.56701,1.624596,0.0,0.973529

In [50]:
utility = level3_road_history_workday_utility[['road_id','time','avg_speed','volume','theta','vc', 'qc', 'Uq', 'Uv', 'Uq_norm', 'Uv_norm', 'theta_norm',
       'utilization' ]]
utility[(utility['time'] == 48) & (utility['utilization'] > 0.1) & (utility['road_id']== 29933)].head()

,road_id,time,avg_speed,volume,theta,vc,qc,Uq,Uv,Uq_norm,Uv_norm,theta_norm,utilization
1830256,29933,48,9.040594,1.135,2.0,5.795121,1.135,1.0,1.560036,0.060361,0.38732,1.0,0.567048

In [51]:
utility = level3_road_history_holiday_utility[['road_id','time','avg_speed','volume','theta','vc', 'qc', 'Uq', 'Uv', 'Uq_norm', 'Uv_norm', 'theta_norm',
       'utilization' ]]
utility[(utility['time'] == 48) & (utility['utilization'] > 0.1) & (utility['road_id']== 29933)].head()

,road_id,time,avg_speed,volume,theta,vc,qc,Uq,Uv,Uq_norm,Uv_norm,theta_norm,utilization
1427602,29933,48,11.223751,4.85,2.0,10.191569,4.85,1.0,1.101278,0.060361,0.235316,1.0,0.512146